* {
    box-sizing: border-box;
}
/*media queries: tablet landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%;}
    #secondary { width:30%; margin-left:3%;}

}

/*media queries: tablet portrait*/
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none;}

}

@media (min-device-width:600px) {
    img[data-scr-600px] {
        content: attr(data-scr-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-scr-800px] {
        content: attr(data-scr-600px, url);
    }

img { max-width: 100%; height: auto; }

.Title {
    color: beige;
    background-color: aquamarine;
    font-size: 18px;
    height: 50px;
    width: 120px;
    top: 0%;

}

.fancy {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.a1 {
    color: aquamarine;
    font-size: 80px;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    margin: 5%;
    padding: 5%;
    width: 70%;
    height: auto;

}

.button {background-color: turquoise;
    padding: 5px 32px;
    width: 40px;
    height: 20px;
    
}

.box-set {
    background-color: lightgrey;
    margin: 5%;
    padding: 5%;
    width: 70%;
    height: auto;

}

.col-sm1 {
    float: left;
    clear: right;
    position: relative;
    padding: 10px;
    width: 150px;
    height: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.col-sm2 {
    float: left;
    clear: right;
    position: relative;
    padding: 10px;
    width: 150px;
    height: auto;
    margin-left: 20%;
}

.col-sm3 {
    float: right;
    clear: none;
    position: relative;
    padding: 10px;
    margin-top: 220px;
    width: 150px;
    height: auto;
    margin-left: 10px;
    z-index: 10%;
}

.col-sm4 {
    float: inherit;
    clear: right;
    position: relative;
    padding: 10px;
    width: 150px;
    height: auto;
}

.col-sm5 {
    float: inherit;
    clear: inherit;
    position: relative;
    padding: 10px;
    margin-top: 300px;
    width: 150px;
    height: auto;
}

.box2 {
    background-color: lightgrey;
    margin: 10%;
    padding: 5%;
    width: auto;
    height: auto;

}

}

